name: Java piepline
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  code-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Run tests
        run: mvn clean test

      - name: Generate jacoco report
        run: mvn jacoco:report

      - name: Build package
        run: mvn package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: target
          path: target/
